<div class="wallet-card">
    <div *ngIf="wallet" class="header-content">
      <a  title="Go to Home"> <i class="material-icons back-button" (click)="goHomePage()">arrow_back</i>
      </a></div>
    <h2>Wallet {{ wallet ? 'Data' : 'Setup' }}</h2>

    <div *ngIf="wallet" class="wallet-details">
      <h3>Wallet Details</h3>
      <p>
        <strong>Name:</strong> {{ wallet.name }}
      </p>
      <p>
        <strong>Balance:</strong> ${{ wallet.balance.toFixed(4) }}
      </p>
      <button (click)="router.navigate(['/transactions'])">View Transactions</button>
    </div>
  
    <div *ngIf="wallet" class="transaction-section">
      <h3>Make a Transaction</h3>
      <div class="toggle-group">
        <button [class.active]="transactionType === 'CREDIT'" (click)="transactionType = 'CREDIT'">Credit</button>
        <button [class.active]="transactionType === 'DEBIT'" (click)="transactionType = 'DEBIT'">Debit</button>
      </div>
      <div class="form-group">
        <div class="form-group">
          <div class="input-container">
            <label>Amount</label>
            <input type="number" [(ngModel)]="amount" placeholder="Enter amount" />
        
            <label>Description</label>
            <textarea [(ngModel)]="description" placeholder="Enter description"></textarea>
          </div>
        </div>
        
        
      </div>
      
      <div >
        <button (click)="makeTransaction(amount , transactionType)" [disabled]="!amount || !description">
          Submit Transaction
        </button>
      </div>
    </div>
  </div>